<div
  class="container-md container-fluid my-5"
  *ngFor="let category of categories"
>
  <h2 class="title text-capitalize">
    {{ headings[categories.indexOf(category)] }}
  </h2>
  <div
    id="carousel{{ category }}Controls"
    class="carousel slide"
    data-ride="carousel"
  >
    <!-- <mat-spinner *ngIf="products.length === 0"></mat-spinner> -->

    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row flex-nowrap">
          <div
            class="col-6 col-lg-2 col-md-4 py-3 px-2"
            *ngFor="let product of products"
            id="product"
            (click)="viewProduct(product)"
          >
            <img [src]="product.imagePath" alt="" />
            <h3>{{ product.name }}</h3>
            <div
              class="
                price-offer
                d-flex
                justify-content-between
                align-items-center
              "
            >
              <p class="price m-0">{{ product.currency }}{{ product.price }}</p>
              <p class="offer m-0 px-1">{{ product.discountPercent }}% off</p>
            </div>

            <p class="extra-info pt-2 text-muted">
              {{ product.description }}
            </p>
            <div
              class="
                rating-watch
                d-flex
                justify-content-between
                align-items-center
                flex-nowrap
              "
            >
              <div
                class="
                  star-rating
                  d-flex
                  justify-content-between
                  align-items-center
                  flex-nowrap
                "
              >
                <div class="stars mr-1">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star-half-o" aria-hidden="true"></i>
                  <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
                <p class="rating m-0">{{ product.rating }}</p>
              </div>
              <div class="watch px-1">
                <span>
                  <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- The Next Section -->
    </div>
    <a
      class="carousel-control-prev"
      href="#carousel{{ category }}Controls"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carousel{{ category }}Controls"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal" [style.display]="modalDisplay">
  <!-- Modal content -->
  <div class="modal-content container-md">
    <div class="modal-header d-flex">
      <h2 class="align-self-start">{{ currentViewProduct.name }}</h2>
      <span class="close" (click)="closeModal()">&times;</span>
    </div>
    <div class="modal-body">
      <div class="card d-flex flex-column">
        <img
          class="card-img w-50 d-block"
          [src]="currentViewProduct.imagePath"
          alt="Card image cap"
        />
        <div class="card-body w-50 m-0">
          <h3 class="name">{{ currentViewProduct.name | uppercase }}</h3>
          <div class="price">
            {{ currentViewProduct.currency }}{{ currentViewProduct.price }}
          </div>
          <div class="description">{{ currentViewProduct.description }}</div>
          <div class="cart">
            <button
              type="button"
              class="btn btn-outline-primary text-uppercase mt-3"
              (click)="addToCart(currentViewProduct.id, 3)"
            >
              Add to cart
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer d-flex justify-content-start">
      <span class="btn btn-outline-dark px-2" (click)="closeModal()">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
        Back
      </span>
    </div>
  </div>
</div>
