<div class="container py-4">
  <h4 class="card-header">
    Account Details
    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"> </span>
  </h4>

  <!--  -->
  <form [formGroup]="userDetailsForm" (ngSubmit)="onUpdate()">
    <div class="form-row">
      <!-- first name -->
      <div class="form-group col-md-6">
        <label for="inputEmail4">First Name</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          formControlName="firstName"
          placeholder="First Name"
          [ngClass]="{
            'is-invalid': submitted && f.firstName.errors
          }"
        />
      </div>

      <!-- last name -->
      <div class="form-group col-md-6">
        <label for="lastName">Last Name</label>
        <input
          type="text"
          class="form-control"
          id="lastName"
          placeholder="Last Name"
          formControlName="lastName"
          [ngClass]="{
            'is-invalid': submitted && f.firstName.errors
          }"
        />
      </div>
    </div>
    <!-- errors -->
    <div class="form-row">
      <!-- first name error -->
      <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
        <div *ngIf="f.firstName.errors.required">First Name is required</div>
      </div>
      <!-- last name error -->
      <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
        <div *ngIf="f.lastName.errors.required">Last Name is required</div>
      </div>
    </div>

    <div class="form-row">
      <!-- email -->
      <div class="form-group col-md-6">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Email"
          formControlName="email"
          [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
        />
      </div>
      <!-- phone number -->
      <div class="form-group col-md-6">
        <label for="phoneNumber">Phone Number</label>
        <input
          type="text"
          class="form-control"
          id="phoneNumber"
          placeholder="Phone Number"
          formControlName="phoneNumber"
          [ngClass]="{
            'is-invalid': submitted && f.phoneNumber.errors
          }"
        />
      </div>
    </div>

    <div class="form-row">
      <!-- phone number error -->
      <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
        <div *ngIf="f.phoneNumber.errors.required">
          Phone Number is required
        </div>
        <!-- <div *ngIf="f.phoneNumber.errors.minlength">
          Phone Number must be at least 9 characters
        </div> -->
      </div>
      <!-- email error -->
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">Email is required</div>
        <div *ngIf="f.email.errors.email">
          Email must be a valid email address
        </div>
      </div>
    </div>

    <button
      type="submit"
      class="btn btn-primary text-uppercase"
      [ngStyle]="{ 'background-color': 'var(--theme-color, orange)' }"
    >
      Update
    </button>
  </form>

  <!-- <div class="row my-3" *ngIf="userDetails.length !== 0">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-muted">First Name</h5>
          <p class="card-text">{{ userDetails[0].name.split(" ")[0] }}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-muted">Last Name</h5>
          <p class="card-text">
            {{ userDetails[0].name.split(" ")[1] }}
          </p>
        </div>
      </div>
    </div>
  </div> -->

  <!-- <div class="row my-3">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-muted">Email</h5>
          <p class="card-text">{{ userDetails[0].email }}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-muted">Phone Number</h5>
          <p class="card-text">
            <span>{{ userDetails[0].phone | uppercase }}</span>
          </p>
        </div>
      </div>
    </div>
  </div> -->
</div>
