<div class="container order">
  <div class="row m-0 pt-4 pb-2 border-bottom">
    <!-- cart card -->
    <!-- <div class="container-md py-5"> -->
    <div class="card">
      <div class="row">
        <div class="col-md-12 cart">
          <div class="title">
            <div class="row">
              <div class="col">
                <h4>
                  <b>Shopping Cart</b>
                  <span
                    *ngIf="loading"
                    class="spinner-border spinner-border-sm mx-2"
                    style.color="var(--theme-color, orange)"
                  >
                  </span>
                </h4>
              </div>
              <div class="col align-self-center">
                <button type="submit" class="btn main btn-default mt-0 py-2">
                  Delete All Items
                </button>
              </div>
              <div class="col align-self-center text-right text-muted">
                {{ cartMeta.itemsCount }} items
              </div>
            </div>
            <div class="row border-top border-bottom" *ngIf="items">
              <div
                class="
                  row
                  main
                  border-bottom
                  py-2
                  text-muted
                  small
                  text-uppercase
                  align-items-center
                "
              >
                <div class="col-2">Image</div>
                <div class="col">Product</div>
                <div class="col">Quantity</div>
                <div class="col">Unit Price</div>
                <div class="col">Total Price</div>
              </div>
              <div
                class="row main align-items-center"
                *ngFor="let item of cartItems"
              >
                <div class="col-2">
                  <img class="img-fluid" [src]="item.imagePath" />
                </div>
                <div class="col">
                  <div class="row text-muted">{{ item.name }}</div>
                  <div class="row">{{ item.description }}</div>
                </div>
                <div class="col d-flex p-0">
                  <a
                    class="minus btn btn-outline-dark border-0 rounded-0"
                    (click)="minusItem(item.id, item.quantity)"
                    [ngClass]="{ disabled: +item.quantity < 2 }"
                  >
                    -
                  </a>
                  <a class="quantity btn">{{ item.quantity }}</a>
                  <a
                    class="plus btn btn-outline-dark border-0 rounded-0"
                    (click)="plusItem(item.id, item.quantity)"
                    >+</a
                  >
                </div>
                <div class="col">{{ item.currency }} {{ item.price }}</div>
                <div class="col">
                  {{ item.currency }}{{ item.totalPrice }}
                  <span class="close" (click)="deleteItem(item.id)">
                    <i class="fa fa-2x fa-trash-o" aria-hidden="true"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="row d-flex">
              <div class="col"></div>
              <div class="col"></div>
              <div class="col"></div>
              <div class="col"></div>
              <div
                class="
                  col
                  total-price
                  align-self-center
                  h3
                  py-3
                  font-weight-bold
                "
                *ngIf="cartMeta.totalPrice !== 0"
              >
                {{ cartMeta.currency }} {{ cartMeta.totalPrice }}
              </div>
            </div>

            <div
              class="
                back-to-shop
                d-flex
                flex-row
                justify-content-between
                align-items-center
              "
            >
              <a routerLink="/home">
                &#8592;
                <span class="text-muted">Back to shop</span>
              </a>
              <button
                class="btn main btn-default w-25 mt-0 py-2"
                routerLink="/user/account/orders/checkout"
              >
                Check Out
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- </div> -->
  </div>

  <div class="row justify-content-end flex-row pt-3 pb-4">
    <div class="col-6"></div>
    <div class="col-6"></div>
    <div class="col-6"></div>
    <div class="col-6"></div>
    <div class="buttons col-6 d-flex flex-column">
      <button type="button" class="btn py-2 mb-3" [routerLink]="['./checkout']">
        Check Out
      </button>
      <button type="button" class="btn py-2">Call to Order</button>
    </div>
  </div>
</div>

<!-- recent -->
<!-- <div class="container px-4 my-5">
  <h2 class="title">Recent Products</h2>
  <div class="row mx-n2">
    <div class="col-6 col-lg-2 col-md-4 py-3 px-2">
      <img src="{{ imagePath }}/product-1.jpg" alt="" />
      <h3>Black Casual Shoes</h3>
      <div
        class="price-offer d-flex justify-content-between align-items-center"
      >
        <p class="price m-0">$50.00</p>
        <p class="offer m-0 px-1">50% off</p>
      </div>

      <p class="extra-info pt-2 text-muted">
        Eligible for Shipping To Mars or somewhere else
      </p>
      <div
        class="
          rating-watch
          d-flex
          justify-content-between
          align-items-center
          flex-nowrap
        "
      >
        <div
          class="
            star-rating
            d-flex
            justify-content-between
            align-items-center
            flex-nowrap
          "
        >
          <div class="stars mr-1">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-half-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </div>
          <p class="rating m-0">3.7</p>
        </div>
        <div class="watch px-1">
          <span>
            <i class="fa fa-heart-o" aria-hidden="true"></i>
            Watch
          </span>
        </div>
      </div>
    </div>

    <div class="col-6 col-lg-2 col-md-4 py-3 px-2">
      <img src="{{ imagePath }}/product-2.jpg" alt="" />
      <h3>Black Casual Shoes</h3>
      <div
        class="price-offer d-flex justify-content-between align-items-center"
      >
        <p class="price m-0">$50.00</p>
        <p class="offer m-0 px-1">50% off</p>
      </div>

      <p class="extra-info pt-2 text-muted">
        Eligible for Shipping To Mars or somewhere else
      </p>
      <div
        class="
          rating-watch
          d-flex
          justify-content-between
          align-items-center
          flex-nowrap
        "
      >
        <div
          class="
            star-rating
            d-flex
            justify-content-between
            align-items-center
            flex-nowrap
          "
        >
          <div class="stars mr-1">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-half-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </div>
          <p class="rating m-0">3.7</p>
        </div>
        <div class="watch px-1">
          <span>
            <i class="fa fa-heart-o" aria-hidden="true"></i>
            Watch
          </span>
        </div>
      </div>
    </div>

    <div class="col-6 col-lg-2 col-md-4 py-3 px-2">
      <img src="{{ imagePath }}/product-3.jpg" alt="" />
      <h3>Black Casual Shoes</h3>
      <div
        class="price-offer d-flex justify-content-between align-items-center"
      >
        <p class="price m-0">$50.00</p>
        <p class="offer m-0 px-1">50% off</p>
      </div>

      <p class="extra-info pt-2 text-muted">
        Eligible for Shipping To Mars or somewhere else
      </p>
      <div
        class="
          rating-watch
          d-flex
          justify-content-between
          align-items-center
          flex-nowrap
        "
      >
        <div
          class="
            star-rating
            d-flex
            justify-content-between
            align-items-center
            flex-nowrap
          "
        >
          <div class="stars mr-1">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-half-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </div>
          <p class="rating m-0">3.7</p>
        </div>
        <div class="watch px-1">
          <span>
            <i class="fa fa-heart-o" aria-hidden="true"></i>
            Watch
          </span>
        </div>
      </div>
    </div>

    <div class="col-6 col-lg-2 col-md-4 py-3 px-2">
      <img src="{{ imagePath }}/product-4.jpg" alt="" />
      <h3>Black Casual Shoes</h3>
      <div
        class="price-offer d-flex justify-content-between align-items-center"
      >
        <p class="price m-0">$50.00</p>
        <p class="offer m-0 px-1">50% off</p>
      </div>

      <p class="extra-info pt-2 text-muted">
        Eligible for Shipping To Mars or somewhere else
      </p>
      <div
        class="
          rating-watch
          d-flex
          justify-content-between
          align-items-center
          flex-nowrap
        "
      >
        <div
          class="
            star-rating
            d-flex
            justify-content-between
            align-items-center
            flex-nowrap
          "
        >
          <div class="stars mr-1">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-half-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </div>
          <p class="rating m-0">3.7</p>
        </div>
        <div class="watch px-1">
          <span>
            <i class="fa fa-heart-o" aria-hidden="true"></i>
            Watch
          </span>
        </div>
      </div>
    </div>
  </div>
</div> -->
