.container {
  background-color: #fff;
}

.title {
  text-align: center;
  margin: 0 auto 2em;
  position: relative;
  line-height: 3em;
  color: #555;
}

.title::after {
  content: "";
  background: var(--theme-color, orange);
  width: 5em;
  height: 0.15em;
  border-radius: 0.15em;
  position: absolute;
  bottom: -0.2em;
  left: 50%;
  transform: translate(-50%);
}

.title + .row > div {
  flex-basis: 16%;
  padding: 0.6em;
  margin: 0 auto 3em;
  min-width: 11em;
  margin-bottom: 3em;
  transition: transform 0.25s;
}

/* .row > div:hover {
  transform: translateY(0.6rem);
} */

img {
  width: 100%;
}

.row h3 {
  color: #555;
  font-weight: 600;
  font-size: 1.2rem;
  padding-top: 0.4em;
  /* white-space: nowrap; */
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
}

.price {
  font-size: 1.5rem;
  font-weight: 600;
}

.offer {
  font-size: 0.9rem;
  border-radius: 0.1em;
  text-transform: uppercase;
  color: #3c833b;
  background: #ecf7ed;
}

.stars i {
  font-size: 0.75em;
  color: var(--theme-color, orange);
}

.rating {
  font-size: 0.85em;
}

.watch {
  border: 1px solid #2569d1;
  border-radius: 0.2em;
  color: #2569d1;
  border-color: #2569d1;
}

.watch:hover {
  cursor: pointer;
}

/* order item */
.order .col-6 {
  justify-content: space-between;
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
}

.order img {
  /* align-self: center; */
  width: unset;
  max-height: 250px;
}

.desc h3,
.desc p {
  text-align: left;
}

.order i {
  color: var(--theme-color, orange);
  padding-left: 0.2em;
  padding-right: 0.2em;
  font-size: 1.5em;
}

.order i:hover {
  cursor: pointer;
  background: #aaaaaa21;
}

.buttons button {
  background: var(--theme-color, orange);
  color: #fff;
  border: 1px solid var(--theme-color, orange);
}

.buttons button:hover {
  color: var(--theme-color, orange);
  background: #fff;
}

/* cart */
.card {
  margin: auto;
  max-width: 950px;
  width: 100%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  border: transparent;
}

@media (max-width: 767px) {
  .card {
    margin: 3vh auto;
  }
}

.cart {
  background-color: #fff;
  padding: 4vh 5vh;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}

@media (max-width: 767px) {
  .cart {
    padding: 4vh;
    border-bottom-left-radius: unset;
    border-top-right-radius: 1rem;
  }
}

.summary {
  background-color: #ddd;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 4vh;
  color: rgb(65, 65, 65);
}

@media (max-width: 767px) {
  .summary {
    border-top-right-radius: unset;
    border-bottom-left-radius: 1rem;
  }
}

.summary .col-2 {
  padding: 0;
}

.summary .col-10 {
  padding: 0;
}

.row {
  margin: 0;
}

.title b {
  font-size: 1.5rem;
}

.main {
  margin: 0;
  padding: 2vh 0;
  width: 100%;
}

.col-2,
.col {
  padding: 0 1vh;
}

a {
  padding: 0 1vh;
}

.close {
  margin-left: auto;
  font-size: 0.7rem;
}

img {
  width: 3.5rem;
}

.back-to-shop {
  margin-top: 4.5rem;
}

h5 {
  margin-top: 4vh;
}

hr {
  margin-top: 1.25rem;
}

form {
  padding: 2vh 0;
}

select {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1.5vh 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247);
}

input {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247);
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

.btn.main {
  background-color: #000;
  border-color: #000;
  color: white;
  width: 100%;
  font-size: 0.7rem;
  margin-top: 4vh;
  padding: 1vh;
  border-radius: 0;
}

.btn.main:focus {
  box-shadow: none;
  outline: none;
  box-shadow: none;
  color: white;
  -webkit-box-shadow: none;
  transition: none;
}

.btn:hover {
  color: white;
}

a {
  color: black;
}

a:hover {
  color: black;
  text-decoration: none;
}

#code {
  background-image: linear-gradient(
      to left,
      rgba(255, 255, 255, 0.253),
      rgba(255, 255, 255, 0.185)
    ),
    url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: center;
}

.cart-circle i {
  font-size: 50vh;
}

p {
  font-size: 1.3rem;
}

button {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #fff !important;
  background: var(--theme-color, orange) !important;
  border-color: var(--theme-color, orange) !important;
  border-radius: 0;
}

button:hover {
  color: var(--theme-color, orange) !important;
  background: #fff !important;
  border-color: var(--theme-color, orange) !important;
}

.minus,
.plus {
  cursor: pointer;
  font-size: 1.3rem;
}

.quantity {
  font-size: 1.4rem;
}
